<div class="small-12 columns">
  <p><%= "Thank you. Your ticket has been accepted and the ticket id is #{@response['id']}." %></p>
  <p><%= link_to "View previous tickets", tickets_path %></p>
</div>
