@import "compass";
@import "foundation_and_overrides";

@import "items";
@import "logs";

html {
  background-color: #91BED4;
  @include background-image(linear-gradient(tint(#91BED4, 75%), #91BED4));
  background-attachment: fixed;
}

body {
  background: initial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  background-color: #FFF;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content {
  padding: 1rem 2rem 2rem;
  overflow: auto;
}

.alert-box {
  margin-bottom: 0px;
}

.button.orange {
  background-color: #F26101;
  border-color: shade(#F26101, 25%);

  &:hover {
    background-color: shade(#F26101, 25%);
  }
}

.top-bar .name h1 a {
  color: #D9E8F5;
}

.top-bar-section .has-dropdown > a:after {
  border-color: #304269 transparent transparent
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-width: 4px;
}

table {
  width: 100%;
}
.copyright {
  color: #304269;
  margin-bottom: 1rem;

  p{ 
    font-size: 12px;
  }
}
